
  
  /* Custom styles */
  h1{
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
  }
  .boxes{
    width: 90%;
    margin: 3rem auto;
  }
  .box{
    border: 1px solid black;
    padding: 0.1rem;
    width: 100px;
    height: 100px;
    text-align: center;
  }
  .h3{
    font-size: 1.5rem;
  }
  .flex{
    display: flex;
    align-items:center;
  }
  .wrap{
    flex-wrap: wrap;
  }